
.form-group-inline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  width: 100%;
  max-width: 500px;
  margin-bottom: 8px;
}

.form-group-inline label {
  font-size: 1rem;
  font-weight: 600;
  color: #000;
  white-space: nowrap;
}

.form-group-inline input {
  flex: 1;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 1rem;
  padding: 4px 0;
  outline: none;
  background: transparent;
  color: #000;
}

.form-group-inline input:focus {
  border-bottom: 2px solid #007bff;
}

.two-columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* Se adapta al contenedor padre */
    padding: 0 8px;
    margin-top: 12px;
    margin-bottom: 0px;
    /* Espaciado horizontal */
}

.filter-container{
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    padding: 3px;
    margin-bottom: 8px;
}

.filter-container > button{
    display: inline-block;
    border-radius: 6px;
    font-weight: 600;
    font-size: 15px;
    border: none;
    padding: 4px;
    background-color: #d1d1d1;
}

button{
    background: none;
    border: none;
    padding: 0px;
}

button > img{
    width: 28px;
}

hr{
    margin: 0px 8px 0px 0px;
}