<div class="home-container">

    <!-- MAPA -->
    <div class="map-container">
        <app-show-map />
    </div>

    <!-- PANEL LATERAL -->
    <div class="side-panel" [class.expanded]="panelOpen">

        <!-- BOTONES DEL PANEL -->
        <div class="panel-buttons">
            <button (click)="togglePanel('user')">
                <img src="userProfile-icon.png" alt="user profile">
                <span class="tooltip">User profile</span>
            </button>
            <button (click)="togglePanel('posts')">
                <img src="posts-icon.png" alt="posts">
                <span class="tooltip">Posts</span>
            </button>
            <button (click)="togglePanel('createRoute')">
                <img src="add-icon.png" alt="create route">
                <span class="tooltip">Create route</span>
            </button>

            <button (click)="logout()">
                <img src="logout.png" alt="cerrar sesion">
                <span class="tooltip">Cerrar sesion</span>
            </button>
            <button (click)="filterCategory('water')">
                <img src="categories/CASCADA.png" alt="marker: water attraction">
                <span class="tooltip">Water attraction</span>
            </button>
        </div>

        <!-- CONTENIDO EXPANDIBLE -->
        <div class="panel-content" [class.visible]="panelOpen">
            @if (activePanel === 'user') {
            <app-user-list 
                [username]="user?.username" 
                [email]="user?.email" 
                [lenPassword]="user?.lenPassword ?? 0"
                [routes]="userRoutes"
                (routeAction)="onRouteAction($event)"
                (createRoute)="onCreateRouteClick()" />
            }
            @if (activePanel === 'posts') {
            <app-list-posts />
            }
            @if (activePanel === 'createRoute') {
            <app-create-route />
            }
        </div>
    </div>
</div>