<div class="home-container">

    <!-- MAPA -->
    <div class="map-container">
        <app-show-map />
    </div>

    <!-- PANEL LATERAL -->
    <div class="side-panel" [class.expanded]="panelOpen">

        <!-- BOTONES DEL PANEL -->
        <div class="panel-buttons">
            <button (click)="togglePanel('user')">
                <img src="userProfile-icon.png" alt="Perfil del usuario">
                <span class="tooltip">Perfil del usuario</span>
            </button>
            <button (click)="togglePanel('routes')">
                <img src="routes.png" alt="Ver mis rutas">
                <span class="tooltip">Ver mis rutas</span>
            </button>
            <button (click)="togglePanel('posts')">
                <img src="posts-icon.png" alt="posts">
                <span class="tooltip">Posts</span>
            </button>
            <button (click)="togglePanel('createRoute')">
                <img src="add-icon.png" alt="create route">
                <span class="tooltip">Create route</span>
            </button>
            <button (click)="logout()">
                <img src="logout.png" alt="cerrar sesion">
                <span class="tooltip">Cerrar sesion</span>
            </button>
            <button (click)="filterCategory('water')">
                <img src="categories/CASCADA.png" alt="marker: water attraction">
                <span class="tooltip">Water attraction</span>
            </button>
        </div>

        <!-- CONTENIDO EXPANDIBLE -->
        <div class="panel-content" [class.visible]="panelOpen">
            @if (activePanel === 'user') {
            <app-user-list (manageAccount)="togglePanel('manageAccount')"/>
            }
            @if (activePanel === 'manageAccount') {
                <app-manage-user (showUser)="togglePanel('user')"/>
            }
            @if (activePanel === 'routes') {
                <app-list-routes 
                    [routes]="userRoutes"
                    (routeAction)="onRouteAction($event)" />
            }
            @if (activePanel === 'posts') {
            <app-list-posts />
            }
            @if (activePanel === 'createRoute') {
            <app-create-route />
            }
            @if (activePanel === 'createPost' && publishingRoute) {
            <app-create-post 
                [routeId]="publishingRoute.id"
                [routeName]="publishingRoute.name"
                [routeDistance]="publishingRoute.distance"
                [routePoints]="publishingRoute.points"
                (published)="onPostPublished()"
                (cancel)="onCancelPost()" />
            }
        </div>
    </div>
</div>